{% load socialaccount %}
<html>
  <head>
    <title> Registration</title>
  </head>
  <body>
  <h1> Login </h1>
  {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }} !</p>
 
  {% else %}
  <h1>Login with Google</h1>
  <a href="{% provider_login_url 'google' %}">Login with Google</a><br>
  <a href="{% provider_login_url 'github' %}">Login with GitHub</a><br>
  {% endif %}

  </body>
</html>
