{% extends "base.html" %}
{% load class_name %}
{% block content %}

{% for object in object_list %}
  {% with object|class_name as class %}
    {% if class == 'Post' %}
    <div>
        Blog post: <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
    </div>

    {% else %}
    <div>
        Lesson Item: <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
    </div>
    {% endif %}

  {% endwith %}
  {% empty%}
<div class='row'>
    <form method='GET'>
        <input type="text" name="q"  placeholder="enter search">

    </form>
</div>

{% endfor %}
{% endblock %}